wmeissner-jffi-bbb81f1.tar.gz
/wmeissner-jffi-e0d10e9.tar.gz
/wmeissner-jffi-1.0.9-0-g893e964.tar.gz
/wmeissner-jffi-1.0.10-0-g5874d2a.tar.gz
/jnr-jffi-1.2.6-0-g52af1f2.tar.gz
/jffi-1.2.7-1.fc20.src.rpm
/jffi-1.2.7.zip
/1.2.7.zip
/1.2.8.zip
